.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.list-group-item.active {
    background-color: #0d6efd;
    color: white;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

.compromisso-texto {
    flex: 1;
    margin-left: 8px;
}

.icone-status {
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 10px;
}

.icone-excluir, .bi {
    font-size: 1.2rem;
}

.tarefa-concluida {
    font-weight: bold;
}

.icone-excluir {
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 10px;
    color: black;
}

.icone-excluir:hover {
    color: #bb2d3b;
}

.bi:hover {
    color: aquamarine;
}

#btnLimpar {
  background-color: #ff9800;
  border-color:greenyellow;
  color: navy;
  transition: all 0.3s ease;
}

#btnLimpar:hover {
  background-color: #e68900;
  color: white;
}

.list-group-item input[type="checkbox"] {
  margin-right: 10px;
}

.icone-mover, .icone-excluir {
    font-size: 1.3em;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea,
select {
  border: 2px solid #0d6efd;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  background-color: #fff;
}

#listaCompromissos input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #0d6efd;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
  background-color: white;
  transition: background 0.2s;
}

#listaCompromissos input[type="checkbox"]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#listaCompromissos input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 7px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}