body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 70px;
}

.navbar {
  transition: background-color 0.3s;
}

.navbar-brand i {
  margin-right: 6px;
}

.navbar-nav {
  flex-direction: row;
  gap: 10px;
}

.nav-link {
  color: white !important;
  font-weight: 500;
}

.nav-link:hover,
.nav-link.active {
  text-decoration: underline;
  color: #ffeb99 !important;
}
